@use '../util/' as *;

.main {
  padding: 0 rem(24);

  @include breakpoint(large) {
      padding: 0 rem(50);
  }
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: rem(25);
  box-shadow: 0px 29px 34px -19px rgba(31, 47, 86, 0.2);
  -webkit-box-shadow: 0px 29px 34px -19px rgba(31, 47, 86, 0.2);
  -moz-box-shadow: 0px 29px 34px -19px rgba(31, 47, 86, 0.2);

  &__img {
    width: 100%;
    border-radius: rem(25) rem(25) 0 0;
  }

  &__title {
    margin-top: rem(35);
    color: var(--dark-blue);
    font-weight: 900;

    @include breakpoint(large) {
        margin-top: rem(50);
    }
  }

  &__desc {
    margin: 0 rem(8);
    color: var(--desaturated-blue);
    font-size: rem(16);
    line-height: 1.6;
  }

  &__plan {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--very-pale-blue);
    margin: rem(24) 0;
    padding: rem(15);
    border-radius: rem(15);

    @include breakpoint(large) {
        padding: rem(15) rem(20);
    }
    

    .plan__logo {
      width: rem(50);
      height: rem(50);
      align-self: center;
    }

    p {
      padding-right: rem(30);
      font-size: rem(14);
      font-weight: 700;
      line-height: 1.55;

      @include breakpoint(large) {
        padding-right: rem(75);
        line-height: 1.65;
    }

      span {
        font-weight: 500;
        color: var(--desaturated-blue);
      }
    }

    a {
      align-self: center;
      text-decoration: underline;
      font-size: rem(14);
      font-weight: 700;
      transition: opacity 150ms ease-in-out;

      &:hover {
       opacity: 0.7;
       text-decoration: none;
      }
    }
  }

  &__btn {
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-weight: 700;
    color: var(--very-pale-blue);
    padding: 0;
    cursor: pointer;
    background-color: var(--bright-blue);
    height: rem(50);
    border-radius: rem(10);
    box-shadow: 0px 15px 21px 10px rgba(224, 232, 255, 1);
    -webkit-box-shadow: 0px 15px 21px 10px rgba(224, 232, 255, 1);
    -moz-box-shadow: 0px 15px 21px 10px rgba(224, 232, 255, 1);
    transition: opacity 150ms ease-in-out;

    &:hover {
        opacity: 0.7;   
       }
  }

  &__cancel {
    margin: rem(30) 0;
    font-weight: 700;
    font-size: rem(14);
    color: var(--desaturated-blue);
    transition: color 150ms ease-in-out;

    &:hover {
        color: var(--dark-blue); 
       }
  }
}
